---
import "../base.css";
import { Scene } from "../components/Scene";
import Content from "../components/Content.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <script>
      (function () {
        function setTheme(theme: string) {
          document.documentElement.setAttribute("theme", theme);
        }

        const storedTheme = window.localStorage.getItem("theme");

        if (storedTheme) {
          setTheme(storedTheme);
        } else if (window.matchMedia("(prefers-color-scheme: dark").matches) {
          setTheme("dark");
        } else {
          setTheme("light");
        }
      })();
    </script>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  </head>
  <body class="bg-neutral-01">
    <main class="w-screen h-screen">
      <Scene client:idle />
      <Content />
    </main>
  </body>
</html>
