---
import { enableLegendStateReact } from "@legendapp/state/react";
import "../base.css";
import { Canvas } from "../components/Canvas";
import { TempThemeSelect } from "../components/TempThemeSelect";
import Content from "../components/Content.astro";

enableLegendStateReact();
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <script
      type="module"
      src={(await import("../utils/offscreen-worker.tsx?url")).default}
    ></script>
    <script>
      import { theme } from "../signals/theme";
      (function () {
        const storedTheme = window.localStorage.getItem("theme");
        const darkModePref = window.matchMedia("(prefers-color-scheme: dark");
        if (storedTheme) {
          theme.set(storedTheme);
        } else if (darkModePref.matches) {
          theme.set("dark");
        } else {
          theme.set("light");
        }
        darkModePref.addEventListener("change", (e) => {
          if (!storedTheme) {
            if (e.matches) {
              theme.set("dark");
            } else {
              theme.set("light");
            }
          }
        });
      })();
    </script>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  </head>
  <body class="bg-neutral-01">
    <main class="w-screen h-screen">
      <Canvas client:only="react" />
      <TempThemeSelect client:idle />
      <Content />
    </main>
  </body>
</html>
