---
import "../base.css";
import { Canvas } from "../components/Canvas";
import { TempThemeSelect } from "../components/TempThemeSelect";
import Content from "../components/Content.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <script
      type="module"
      src={(await import("../utils/offscreen-worker.ts?url")).default}
    ></script>
    <script>
      import { theme } from "../signals/theme";
      import { effect } from "@preact/signals-react";
      (function () {
        function setTheme(newTheme: string) {
          document.documentElement.setAttribute("theme", newTheme);
          theme.value = newTheme;
        }
        const storedTheme = window.localStorage.getItem("theme");
        const darkModePref = window.matchMedia("(prefers-color-scheme: dark");
        if (storedTheme) {
          setTheme(storedTheme);
        } else if (darkModePref.matches) {
          setTheme("dark");
        } else {
          setTheme("light");
        }
        darkModePref.addEventListener("change", (e) => {
          if (!storedTheme) {
            if (e.matches) {
              setTheme("dark");
            } else {
              setTheme("light");
            }
          }
        });
        effect(() => {
          document.documentElement.setAttribute("theme", theme.value);
        });
      })();
    </script>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
  </head>
  <body class="bg-neutral-01">
    <main class="w-screen h-screen">
      <Canvas client:only="react" />
      <TempThemeSelect client:only="react" />
      <Content />
    </main>
  </body>
</html>
