---
import Header from "./Header.astro";
import { Text } from "./Text";
import { Anchor } from "./Anchor";
import Span from "./Span.astro";
import { ClockWidget } from "./ClockWidget";
import { SpotifyWidget } from "./SpotifyWidget";
---

<div
  class="flex flex-col justify-between absolute left-0 top-0 h-screen py-64 pl-120 max-w-[640px]"
>
  <div class="space-y-20">
    <Header>Vance Tan // VXN</Header>
    <Text>Portfolio v2 — 2022</Text>
  </div>
  <div class="flex flex-col space-y-40">
    <Text>
      I am a <Span>SOFTWARE ENGINEER</Span> and <Span>DESIGNER</Span> passionate
      about building beautiful experiences on the web. I sometimes also do some freelance
      work on the side, such as for <Anchor href="">WTH 2021</Anchor>
      and <Anchor href="">SUTD MC</Anchor>. Outside of work, I am a hobbyist
      <Anchor href="">PHOTOGRAPHER</Anchor> and an absolute fan of good food.
    </Text>
    <div class="flex flex-col space-y-20">
      <div class="flex space-x-12">
        <div class="flex items-center space-x-8">
          <svg
            width="16"
            height="12"
            viewBox="0 0 16 12"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <mask
              id="mask0_1045_56"
              style="mask-type:alpha"
              maskUnits="userSpaceOnUse"
              x="0"
              y="0"
              width="16"
              height="12"
            >
              <rect width="16" height="12" fill="white"></rect>
            </mask>
            <g mask="url(#mask0_1045_56)">
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M0 0V12H16V0H0Z"
                fill="#F7FCFF"></path>
              <mask
                id="mask1_1045_56"
                style="mask-type:alpha"
                maskUnits="userSpaceOnUse"
                x="0"
                y="0"
                width="16"
                height="12"
              >
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M0 0V12H16V0H0Z"
                  fill="white"></path>
              </mask>
              <g mask="url(#mask1_1045_56)">
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M0 0V6H16V0H0Z"
                  fill="#E31D1C"></path>
                <path
                  fill-rule="evenodd"
                  clip-rule="evenodd"
                  d="M4.43426 5.29481C4.43426 5.29481 3.02142 4.72656 3.02142 3.18703C3.02142 1.64749 4.43426 1.0976 4.43426 1.0976C3.74759 0.923767 1.92554 1.07925 1.92554 3.18703C1.92554 5.29481 3.72006 5.69231 4.43426 5.29481ZM4.79625 5.04033L5.20156 4.79565L5.6158 5.04033L5.51442 4.56285L5.85117 4.18618H5.39492L5.20156 3.74033L5.0082 4.18618L4.55117 4.20551L4.8887 4.56285L4.79625 5.04033ZM6.67471 4.76832L6.2694 5.01301L6.36185 4.53553L6.02432 4.17818L6.48135 4.15886L6.67471 3.71301L6.86807 4.15886H7.32432L6.98757 4.53553L7.08895 5.01301L6.67471 4.76832ZM5.64364 2.88496L6.04895 2.64027L6.46319 2.88496L6.36181 2.40747L6.69856 2.03081H6.24231L6.04895 1.58496L5.85559 2.03081L5.39856 2.05013L5.73609 2.40747L5.64364 2.88496ZM4.68495 3.61135L4.27964 3.85604L4.37209 3.37856L4.03456 3.02121L4.49159 3.00189L4.68495 2.55604L4.87831 3.00189H5.33456L4.99782 3.37856L5.0992 3.85604L4.68495 3.61135ZM6.95885 3.83411L7.36416 3.58942L7.7784 3.83411L7.67702 3.35663L8.01377 2.97996H7.55752L7.36416 2.53411L7.1708 2.97996L6.71377 2.99928L7.0513 3.35663L6.95885 3.83411Z"
                  fill="#F1F9FF"></path>
              </g>
            </g>
          </svg>
          <Text size="small">Based in Singapore</Text>
        </div>
        <Span font="sans" size="small">•</Span>
        <ClockWidget client:only="react" />
      </div>
      <div class="flex items-center space-x-8">
        <SpotifyWidget client:idle />
      </div>
    </div>
  </div>
  <div class="flex items-center space-x-12">
    <Anchor href="https://github.com/vxncetxn" font="sans" size="small"
      >Github</Anchor
    >
    <Span font="sans" size="small">•</Span>
    <Anchor href="https://twitter.com/vxncetxn" font="sans" size="small"
      >Twitter</Anchor
    >
    <Span font="sans" size="small">•</Span>
    <Anchor
      href="https://www.linkedin.com/in/vance-tan-xr/"
      font="sans"
      size="small">LinkedIn</Anchor
    >
    <Span font="sans" size="small">•</Span>
    <Anchor href="mailto:vxncetxn@gmail.com" font="sans" size="small"
      >Email</Anchor
    >
  </div>
</div>
