---
export interface Props {
  font?: "sans" | "serif";
  size?: "small" | "base" | "large";
}
const { font = "serif", size = "base" } = Astro.props as Props;
---

<span
  class={`inline-block ${font === "sans" ? "font-sans" : "font-serif"} ${
    size === "small" ? "text-18" : "base" ? "text-24" : "text-40"
  } text-neutral-02 capsize transition-colors`}
>
  <slot />
</span>
