@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Neue Montreal";
  src: url("/fonts/PPNeueMontreal-Book.woff2") format("woff2"),
    url("/fonts/PPNeueMontreal-Book.woff") format("woff");
}

@font-face {
  font-family: "Cirka";
  src: url("/fonts/PPCirka-Regular.woff2") format("woff2"),
    url("/fonts/PPCirka-Regular.woff") format("woff");
}

:root {
  --color-neutral-01: #ffffff;
  --color-neutral-02: #100a0a;
  --color-neutral-03: #f5f5f5;
  --color-neutral-04: #ebebeb;
  --color-theme-01: #34fdaa;
  --color-theme-02: #fa1c41;
  --color-theme-selected: var(--color-theme-01);
}

[theme="dark"] {
  --color-neutral-01: #100a0a;
  --color-neutral-02: #ffffff;
  --color-neutral-03: #262626;
  --color-neutral-04: #454545;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-neutral-01: #100a0a;
    --color-neutral-02: #ffffff;
    --color-neutral-03: #262626;
    --color-neutral-04: #454545;
  }

  [theme="light"] {
    --color-neutral-01: #ffffff;
    --color-neutral-02: #100a0a;
    --color-neutral-03: #f5f5f5;
    --color-neutral-04: #ebebeb;
  }
}
